body{}
.text_box{width: 100%; height: 100vh; position: absolute; top: 0;left: 0;}
.title{width: 100%; position: absolute; top: 35%;left: 50%; transform: translateX(-50%); display: flex; justify-content: center; z-index: 1000;}
.title p{ font-size: 120px; margin: 0px 35px; color: #fff; font-weight: 400;}
.title p:nth-child(2){color: #191919;}
.text{font-size: 15px; font-weight: 600; text-decoration: underline; color: #000; position: absolute; top: 55%;left: 50%; transform: translate(-50%,-50%); z-index: 1000;}

.article{display: flex;}
.article .left_box{width: 50%;height: 100vh; overflow: hidden;}
.article .left_box img{width: 100%;height: 100%; object-fit: cover;    }
.article .left_box .left_box_img{width: 100%;height: 100%; background-image: url(../../../public/img/slider1_1.png); background-position: center; background-color: #0005;  background-blend-mode: darken;  transform: translateY(-7vh);transition: all 2s;}
.article2 .left_box .left_box_img{background-image: url(../../../public/img/slider2_1.png);}
.article3 .left_box .left_box_img{background-image: url(../../../public/img/slider3_1.png);}

.article .right_box{width: 50%;height: 100vh; background: #f5f5f5; position: relative;}
.article .right_box em{font-size: 16px; font-weight: 600; color: #000; position: absolute; top: 180px; left: 10%; font-family: 'Roboto', sans-serif;}
.article .right_box strong{font-size: 16px; font-weight: 600; color: #000; position: absolute; bottom: 25px; left: 10%; transform: translateY(50px); opacity: 0; transition: all 1.2s; transition-delay: 1.4s;}
.article .right_box ul{}
.article .right_box ul li{ opacity: 0; transition: all 1.2s; position: absolute;}
.article .right_box ul li:nth-child(1){width: 470px;height: 430px;  top: 50%;left: 50%; transform: translate(-50%,-20%); transition-delay: 0.4s;}
.article .right_box ul li:nth-child(2){width: 215px;height: 300px;  top: 120px; left: 50%; transform: translate(40%,30%); transition-delay: 0.8s;}
.article .right_box ul li:nth-child(3){width: 215px;height: 265px;  top: 588px; left: 50%; transform: translate(-160%,30%); transition-delay: 1.2s;}
.article .right_box ul li:nth-child(4){width: 280px;height: 400px;  top: 490px; left: 50%; transform: translate(30%,30%); transition-delay: 1.6s;}

.article .right_box ul li img{width: 100%;height: 100%; object-fit: cover;}

@media (max-width : 1400px){
    .article .right_box ul li:nth-child(1){width: 33.5714vw;height: 30.7143vw;  top: 50%;left: 50%; transform: translate(-50%,-20%); }
    .article .right_box ul li:nth-child(2){width: 15.3571vw;height: 21.4286vw;  top: 120px; left: 50%; transform: translate(40%,30%);}
    .article .right_box ul li:nth-child(3){width: 15.3571vw;height: 18.9286vw;  top: 588px; left: 50%; transform: translate(-160%,30%);}
    .article .right_box ul li:nth-child(4){width: 20.0000vw;height: 28.5714vw;  top: 490px; left: 50%; transform: translate(30%,30%);}
}

@media (max-width : 1023px){
    .article .right_box ul li:nth-child(2){top: 200px;}
    .article .right_box ul li:nth-child(3){top: 450px;}
}

@media (max-width : 850px){
    .title p{ font-size: 14.1176vw; margin: 0px 4.1176vw;}
}

@media (max-width : 760px){
    .article .right_box ul li:nth-child(1){width: 44.7368vw;height: 39.4737vw;}
    .article .right_box ul li:nth-child(2){width: 17.8947vw; height: 26.3158vw; top: 250px;}
    .article .right_box ul li:nth-child(3){top: 500px;}
    .article .right_box ul li:nth-child(4){width: 26.3158vw;height: 39.4737vw;  top: 540px;}
}